<select id="class-select" class="form-select" multiple>
    <% majorClasses.forEach(classItem => { %>
        <option value="<%= classItem.id %>"><%= classItem.name %> - <%= classItem.professor %></option>
    <% }) %>
</select>
