<!-- timetable region-->
 <!--classestorender, conflicts, currentlyChosenClasses-->
 <style>
    .fixed-table {
        table-layout: fixed;
        width: 100%;
    }
</style>

<div>
    <div id="chosenclasstable">
        <table class="table table-bordered table-hover fixed-table small">
            <thead class="table-dark">
                <tr>
                    <th style="width: 1%;">Time</th>
                    <th style="width: 1%;">Seg</th>
                    <th style="width: 1%;">Ter</th>
                    <th style="width: 1%;">Qua</th>
                    <th style="width: 1%;">Qui</th>
                    <th style="width: 1%;">Sex</th>
                </tr>
            </thead>
            <tbody>
                <% timetable.aproxHourList.forEach(hour => { %>
                    <tr>
                        <td><%= hour %></td> <!-- Display the hour slot -->
                        
                        <% ['seg', 'ter', 'qua', 'qui', 'sex'].forEach(day => { %>
                            <% 
                            const scheduleDay = timetable.table[day]?.[hour];
                            %>
                            
                            <td class="<%= scheduleDay ? 'bg-success text-white' : '' %>">
                                <% if (scheduleDay) { %>
                                    <!-- Truncate text inside the cell -->
                                    <div class="text-truncate" style="max-width: 100%;">
                                        <%= scheduleDay.class.name %> - <%= scheduleDay.id %>
                                    </div>
                                <% } %>
                            </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
</div>